html {
  scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background-color: #000000 ;

}

.mainPage {
    padding: 30px;
    display: block;
    height: 960px;
    /* width: 1440px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./Assets/main-bg.jpg');
    background-size: 100% 100%;
    color: #fff;
    background-size: cover;
  }
  

.navClassMain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.375);
    height: 100px;

}

.Logo {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 60px;
 
}

.logoClass {
    position: absolute;
    color: #ffffff;
    font-weight: 60px ;
}

.Nav {
    font-family: "Open Sans", sans-serif;
    margin-top: 40px;
    text-align: left;
    margin-left: 400px;
}

.navClass {
    margin-left: 50px;
    font-weight: 800px;
    font-size: 15px;
}

.Reg {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    margin-left: 120vh;
}

.regClass1 {
    margin-left:30px;
    margin-top: -10px;
}

.mainTitleClass {
    color:#fff ;
    text-align: center;
    margin-top: 30vh;
    font-weight: bold;
    font-size: 70px;
}

.Tag {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
}


.myButton {
    position: absolute;
    margin-top: 40px;
    margin-left: 82vh;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #FFB548 5%, #F3AF34 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 63px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

.scrollLink {
    position:absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }
  .scrollLinkV {
    position:absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }
  


/* ---PAGE TWO--- */

.pageTwo {
    background-image: url('./Assets/the-games-bg.jpg');
    padding: 30px;
    height: 960px;
    /* width: 1440px; */
    color: #fff;
}

.pageTwoSpecial {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-size: 24px;
    margin-top: 253px;
    margin-left: 82px;
}   

.pageTwoGames {
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    margin-left: 82px;
}

/* .carousel-image {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 500px;
    margin-top: -50px;
  } */

  .slider-container {
    display: flex;
    align-items:end;
    height: 50vh;
  }
      
.swiffy-slider {
    max-width: 50%; 
    height: 50%;
    margin-left: 500px;
    margin-top: -70px;
}   
      
  


  /* ---PAGE THREE--- */
  .pageThree {
    position: relative;
    height: 960px;
    background-image: url(Assets/features.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1440x; */
  }
  
  /* .pageThree::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.4));
    z-index: 2;
  }
  
  .pageThree::after {
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(Assets/features.png);
    z-index: 1;
  } */

  /* .desc1-Page3 {
  position: relative;
  top: 20%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  z-index: 3;
  margin-bottom: 20px;
} */

.desc1-Page3 {
  position: absolute;
  z-index: 3px;
  font-size: 52px;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-left: 100px;
  margin-top: 100px;
  font-size: 52px;
  color: #fff;
}

.bullet-list {
  list-style-type: none;
  padding-left: 30px;
  margin-top: 30px;
  position: relative;
  z-index: 2; 
  margin-left: 890px;
  margin-top: 150px;
}

.bullet-list li {
  position: relative;
  padding-left: 15px;
  line-height: 24px;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 5rem;
}

.bullet-list li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #d24600;
}

/*
.desc2-Page3 {
    position: relative;
    top: 20%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 56px;
    font-family: 'Open Sans', sans-serif;
    z-index: 3;
  }

  
  .bullet-list {
    list-style-type: none;
    padding-left: 30px;
    margin-top: 30px;
    position: relative;
    z-index: 2; 
    margin-left: 890px;
    margin-top: 150px;
  }
  
  .bullet-list li {
    position: relative;
    padding-left: 15px;
    line-height: 24px;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  
  .bullet-list li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #d24600;
  } */
  
/* ---PAGE FOUR--- */

.pageFour {
  background-image: url('./Assets/requirements.png');
  background-size: cover;
  height: 960px;
  /* width: 1440px; */
  color: #fff;
}

.desc1-page4 {
  text-align: center ;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  top : 50px;
}

.system {
  font-family: 'Open Sans', sans-serif;
  font-size: 56px;
  top: 20px;
  margin-top: 250px;
  margin-left: 300px;
}

.requirements {
  font-family: 'Open Sans', sans-serif;
  font-size: 56px;
  top: 50px;
  margin-left: 300px;
}

.my-table {
  border-collapse: collapse;
  margin-left: 300px;
  margin-top: 50px;
}

.my-table td {
  border: 1px solid rgb(154, 154, 210);
  padding: 30px;
}

.tableTitle {
  color:#e85d00;
  font-size: 24px;
}

.tableDesc {
  color:#fff;
  font-size: 18px;
}

/* ---PAGE FIVE--- */

.pageFive {
  display: flex;
  background-image: url(Assets/TopScoresbg.png);
  background-size: cover;
  height: 960px;
  /* width: 1440px; */
  color: #fff;
}

.leftSide {
  margin-top: 50vh;
  margin-left: 15vh;
}

.desc1-Page5 {
  font-size: 56px;
}
.desc2-Page5 {
  font-size: 18px;
  margin-top: 20px;
}

.myButton2 {
  position: absolute;
  margin-top: 50px;
  margin-left: 0vh;
box-shadow: 0px 1px 0px 0px #fff6af;
background:linear-gradient(to bottom, #FFB548 5%, #F3AF34 100%);
background-color:#ffec64;
border-radius:6px;
border:1px solid #ffaa22;
display:inline-block;
cursor:pointer;
color:#333333;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:17px 63px;
text-decoration:none;
text-shadow:0px 1px 0px #ffee66;
}

.myButton2:hover {
background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
background-color:#ffab23;
}
.myButton2:active {
position:relative;
top:1px;
}

.pageFive {
  display: flex;
}

.leftSide {
  flex: 1;
}

.rightSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  background-color: #18476540;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height:150px
}

.card2 {
  display: flex;
  align-items:start ;
  background-color:#18476540;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height:150px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -200px;
  
}



.card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -100px;
}


.card-content {
  display: flex;
  flex-direction: column;
}

.card-header {
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
  color: #ffaa22;
  margin-left: 20px;
}

.cardTitle {
  font-family: 'Open Sans',sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 10;
  margin-bottom: 50px;
}


.card-body {
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  margin-left: -50px;
  margin-top: 20px;
}

.date {
  font-family: 'Open Sans',sans-serif;
  font-size: 10px;
  margin-left: -50px;
  margin-top: 20px;

}


/* ---PAGE SIX--- */

.boxPage6 {
  position: absolute;
}



.pageSix {
  position: absolute;
  box-sizing: border-box;
  background-image: url(Assets/newsletter.png);
  background-size: cover;
  height: 960px;
  /* width: 1440px; */
  color: #fff;
}

.desc1-Page6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-left: 800px;
  margin-top: 300px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.desc2-Page6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  margin-left: 800px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.desc3-Page6 {
  display: flex;
  justify-content:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-left: 800px;
  width: 50vh;
}

form {
  display: flex;
  flex-direction:row;
}

.email {
  width: 250px;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: rgba(101, 101, 101, 0.486);
  margin-top: 50px;
  font-size: 16px;
  color: #ffffff5b;
  margin-left: 800px;
}

.subscribe {
  position: absolute;
  margin-top: 40px;
  margin-left: 115vh;
box-shadow: 0px 1px 0px 0px #fff6af;
background:linear-gradient(to bottom, #FFB548 5%, #F3AF34 100%);
background-color:#ffec64;
border-radius:6px;
border:1px solid #ffaa22;
display:inline-block;
cursor:pointer;
color:#333333;
font-family:'Open Sans',sans-serif;
font-size:15px;
font-weight:bold;
padding:10px 63px;
text-decoration:none;
text-shadow:0px 1px 0px #ffee66;
}

.subscribe:hover {
background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
background-color:#ffab23;
}
subscribe:active {
position:relative;
top:1px;
}


/* ---FOOOTER--- */
.footer {
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  position: absolute;
  color: #fff;
  margin-top: -5vh;
  display: flex;
  flex-direction: row;

}

.footer-nav {
  margin-bottom: 20px;
  margin-left: 100px;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  display: inline-block;
  margin-left: 50px ;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu li a {
  color: #fff;
  text-decoration: none;
}

.footer-social {
  margin-bottom: 20px;
  margin-left: 50px;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
}

.social-icon img {
  width: 24px;
  height: 24px;
}

.footer-line {
  position: relative;
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
  z-index: 1;
  margin-top: 110vh;
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
} 

.policy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inc {
  text-align: left;
  margin-top: 40px;
  margin-left: 0px;
}

.privacy {
  text-align: left;
  margin-top: 30px;
  margin-right: 20px; 
}